.bundles {
	margin-top: -195px;
	background-color: #121a1f;
	// background-image: url("../img/bundles/bundles-bg.jpg");
	background-size: cover;
	background-position: bottom;
	background-repeat: no-repeat;
	padding-top: 280px;
	padding-bottom: 100px;
	color: #fff;
}
.bundles__title {
	margin-bottom: 50px;
	font-weight: 700;
	font-size: 38px;
	line-height: 140%;
	text-align: center;
	letter-spacing: 0.05em;
	text-transform: uppercase;
}
.bundles-table {
	position: relative;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 20px;
	&::before {
		content: "";
		display: block;
	}
}
.bundles-table-bundle {
	text-align: center;
	border-radius: 20px;
	padding-top: 35px;
	padding-right: 20px;
	padding-bottom: 54px;
	padding-left: 20px;
}
.bundles-table-bundle--standard {
	background-color: #1f2a32;
}
.bundles-table-bundle--online {
	background-color: #6ac068;
}
.bundles-table-bundle--ofline {
	background-color: #c2af78;
}
.bundles-table-bundle__name {
	margin-bottom: 55px;
	font-weight: 700;
	font-size: 23px;
	line-height: 140%;
}
.bundles-table-bundle-stats-stat {
	margin-bottom: 35px;
	padding-top: 20px;
	padding-bottom: 20px;
}
.bundles-table-bundle-stats-stat__name-wrap {
	padding-bottom: 30px;
	display: none;
	position: absolute;
	left: 0;
	width: 100%;
	text-align: left;
	border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.bundles-table-bundle-stats-stat__name {
	max-width: 270px;
	font-weight: 700;
	font-size: 20px;
	line-height: 140%;
}
.bundles-table-bundle-stats-stat__desc {
	margin-top: 15px;
	margin-bottom: 0px;
}
.bundles-table-bundle:first-child {
	.bundles-table-bundle-stats-stat__name-wrap {
		display: block;
	}
}
.bundles-table-bundle-stats-stat__text {
	font-weight: 700;
	font-size: 23px;
	line-height: 140%;
	text-align: center;
}
.bundles-table-bundle-price {
	padding-top: 15px;
	font-weight: 400;
	font-size: 23px;
	line-height: 140%;
	text-align: center;
}
.bundles-table-bundle-price__title {
	margin-bottom: 10px;
}
.bundles-table-bundle-price__cost {
	margin-bottom: 20px;
	font-weight: 700;
	font-size: 30px;
}

.bundles-table-bundle-price__buy {
	margin-bottom: 15px;
	width: 100%;
	background-color: #fff;
	box-shadow: 0px 4px 15px rgba(255, 255, 255, 0.2);
	border-radius: 8px;
	font-weight: 700;
	font-size: 15px;
	line-height: 18px;
	text-align: center;
	text-transform: uppercase;
	color: #333333;
	text-shadow: 0px 2px 0px rgba(255, 255, 255, 0.3);
	transition: .3s all ease-in;
	&:hover {
		background-color: #d5be7c;
	}
}
.bundles-table-bundle__more {
	font-weight: 400;
	border-bottom: 1px solid #fff;
	font-size: 15px;
	line-height: 18px;
	text-align: center;
	color: #fff;
	transition: .3s all ease-in;
	&:hover {
		color: #d5be7c;
		border-bottom-color: #d5be7c;
	}
}

.bundles-table-bundle--ofline {
	.bundles-table-bundle-price__buy:hover {
		background-color: #1f2a32;
		color: #fff;
	}
	.bundles-table-bundle__more:hover {
		color: #1f2a32;
		border-bottom-color: #1f2a32;
	}
}
