.hero {
	position: relative;
	padding-top: 220px;
	padding-bottom: 70px;
	color: #fff;
	// background-image: url("../img/hero/hero-bg.jpg");
	background-position: initial;
	background-size: cover;
	background-repeat: no-repeat;
	background-color: #1a1d23;
}
.hero-offer {
	margin-bottom: 100px;
	max-width: 610px;
}
.hero-offer__title {
	margin-bottom: 30px;
	font-weight: 400;
	font-size: 35px;
	line-height: 140%;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	color: #fff;
}
.hero-offer__title--coloring {
	font-weight: 800;
	color: #d1c297;
}
.hero-offer__desc {
	font-size: 20px;
	line-height: 140%;
	color: #fff;
}
.hero-offer__desc--bold {
	font-weight: 700;
}
.hero__img-wrap {
	position: absolute;
	right: 0;
	bottom: 0;
	width: 100%;
	max-width: 1120px;
}
.hero__img {
	width: 100%;
	object-fit: contain;
}
.hero-bullets {
	position: relative;
	&:before {
		content: "";
		position: absolute;
		left: 0;
		top: 30px;
		z-index: 1;
		display: block;
		width: 100%;
		height: 140px;
		background: rgba(255, 255, 255, 0.1);
		backdrop-filter: blur(14px);
	}
}
.hero-bullets-list {
	position: relative;
	z-index: 2;
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	padding-top: 25px;
	padding-right: 25px;
	padding-left: 25px;
	background-color: #1a1d23;
}
.hero-bullets-list-bullet {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-between;
	min-height: 170px;
	max-width: 230px;
	width: 100%;
	&::after {
		content: "";
		position: absolute;
		right: -25px;
		top: 50%;
		transform: translateY(-50%);
		display: block;
		width: 1px;
		height: 75px;
		background: rgba(255, 255, 255, 0.3);
	}
	&:nth-child(1) {
		.hero-bullets-list-bullet-icon__img {
			margin-left: -12px;
		}
	}
	&:nth-child(2) {
		.hero-bullets-list-bullet-icon__img {
			margin-left: 5px;
		}
	}
	&:nth-child(3) {
		.hero-bullets-list-bullet-icon__img {
			margin-left: 10px;
		}
	}
	&:nth-child(4) {
		.hero-bullets-list-bullet-icon__img {
			margin-left: -10px;
		}
		&::after {
			display: none;
		}
	}
}
.hero-bullets-list-bullet__title {
	margin-bottom: 10px;
	font-weight: 600;
	font-size: 18px;
	line-height: 22px;
	color: #fff;
}
.hero-bullets-list-bullet__desc {
	font-size: 15px;
	line-height: 130%;
	color: #fff;
}
.hero-bullets-list-bullet-icon {
	position: relative;
	height: 90px;
	max-width: 200px;
	&::after {
		content: "";
		position: absolute;
		left: 0;
		bottom: 0;
		z-index: 0;
		display: block;
		border-radius: 10px 10px 0 0;
		width: 145px;
		height: 68px;
		background-color: rgba(255, 255, 255, 0.1);
	}
}
.hero-bullets-list-bullet-icon__img {
	position: relative;
	z-index: 2;
	margin-top: 4px;
	width: 100%;
	height: 100%;
	object-fit: contain;
}

@media (max-width: 1820px) {
	.hero__img-wrap {
		max-width: 1020px;
	}
}
@media (max-width: 1440px) {
	.hero__img-wrap {
		max-width: 1020px;
		overflow: hidden;
	}
	.hero__img {
		margin-left: 70px;
	}
}

@media (max-width: 1200px) {
	.hero__img {
		margin-left: 180px;
	}
}

@media (max-width: 1199px) {
	.hero {
		padding-top: 150px;
	}
	.hero__img {
		margin-left: 300px;
	}
	// .hero-bullets-list-bullet:nth-child(3) .hero-bullets-list-bullet-icon__img {
	// 	margin-left: -15px;
	// }
	.hero-bullets-list-bullet__title {
		font-size: 16px;
	}
	.hero-bullets-list-bullet__desc {
		font-size: 14px;
	}
	.hero-bullets-list-bullet:nth-child(3) .hero-bullets-list-bullet-icon__img {
		margin-left: 10px;
	}
}
@media (max-width: 1199px) and (min-width: 992px) {
	.hero-bullets-list-bullet::after {
		display: none;
	}
}

@media (max-width: 992px) {
	.hero-offer {
		margin-bottom: 0;
	}
	.hero__img-wrap {
		position: static;
		margin-bottom: -130px;
	}
	.hero__img {
		margin-left: 0;
	}
	.hero-bullets-list {
		flex-wrap: wrap;
		justify-content: space-around;
	}
	.hero-bullets-list-bullet {
		margin-bottom: 30px;
		text-align: center;
		max-height: initial;
		min-height: 150px;
	}
	.hero-bullets-list-bullet-icon {
		margin-left: auto;
		margin-right: auto;
	}
	.hero-bullets-list-bullet__title {
		margin-bottom: 5px;
	}
	.hero-bullets-list-bullet:nth-child(1) .hero-bullets-list-bullet-icon__img,
	.hero-bullets-list-bullet:nth-child(2) .hero-bullets-list-bullet-icon__img,
	.hero-bullets-list-bullet:nth-child(3) .hero-bullets-list-bullet-icon__img,
	.hero-bullets-list-bullet:nth-child(4) .hero-bullets-list-bullet-icon__img {
		margin-left: 0;
	}
	.hero-bullets-list-bullet:nth-child(1) .hero-bullets-list-bullet-icon__img {
		margin-top: 0;
		left: 0;
	}
	.hero-bullets-list-bullet:nth-child(2) .hero-bullets-list-bullet-icon__img {
    left: -35px;
    margin-top: 8px;
	}
	.hero-bullets-list-bullet:nth-child(3) .hero-bullets-list-bullet-icon__img {
		left: 20px;
	}
	.hero-bullets-list-bullet:nth-child(4) .hero-bullets-list-bullet-icon__img {
		left: -11px;
	}
	.hero-bullets-list-bullet::after {
		right: -55px;
	}
	.hero-bullets-list-bullet:nth-child(2n)::after {
		display: none;
	}
}

@media (max-width: 767px) {
	.hero {
		padding-bottom: 25px;
	}
	.hero-offer__title {
		font-size: 22px;
		margin-bottom: 10px;
		br {
			display: none;
		}
	}
	.hero-offer__desc {
		font-size: 16px;
		margin-bottom: -30px;
	}
	.hero__img-wrap {
		max-height: 435px;
		height: 100%;
	}
	.hero__img {
		height: 100%;
	}
	.hero-bullets-list {
		padding-left: 15px;
    padding-right: 15px;
    justify-content: space-between;
	}
}

@media (max-width: 575px) {
	.hero {
		padding-top: 100px;
	}
	.hero-offer__desc {
		margin-bottom: 0;
		br {
			display: none;
		}
	}
	.hero__img-wrap {
		margin-bottom: -40px;
	}
	.hero-bullets-list {
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	.hero-bullets-list-bullet-icon {
		margin-bottom: 30px;
	}
	.hero-bullets-list-bullet::after {
		position: static;
		margin-left: auto;
		margin-right: auto;
		width: 75px;
		height: 1px;
	}
	.hero-bullets-list-bullet:nth-child(2n)::after {
		display: block;
	}
	.hero-bullets-list-bullet:last-child::after {
		display: none;
	}
}
