.question {
	margin-top: 130px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-color: #131C22;
	border-radius: 120px 120px 0 0;
}
.container--question {
	display: flex;
	align-items: flex-end;
	justify-content: flex-start;
}
.question__img-wrap {
	// position: absolute;
	margin-left: -120px;
	margin-top: -110px;
	max-width: 706px;
	width: 100%;
	position: relative;
	&::before,
	&::after {
		content: "";
		position: absolute;
		display: block;
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
		pointer-events: none;
	}
	&::before {
		top: 230px;
		left: 91px;
		width: 164px;
		height: 164px;
		background-image: url(../img/question/question-left.png);
	}
	&::after {
		top: 107px;
		right: -80px;
		width: 526px;
		height: 526px;
		background-image: url(../img/question/question-right.png);
	}
}
.question__img {
	z-index: 2;
	position: relative;
	width: 100%;
	height: 100%;
	object-fit: contain;
	object-position: bottom;
}
.question__text {
	padding-top: 110px;
	padding-bottom: 110px;
}
.question__title {
	margin-bottom: 10px;
	font-weight: 700;
	font-size: 38px;
	line-height: 140%;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	color: #FFFFFF;
}
.question__desc {
	margin-bottom: 28px;
	font-size: 20px;
	line-height: 140%;
	color: #FFFFFF;
}

@media (max-width: 1400px) {
	.question__text {
		padding-top: 70px;
	}
}
@media (max-width: 1200px) {
	.question__img-wrap {
		margin-left: 20px;
		max-width: 506px;
	}
}

@media (max-width: 1199px) {
	.question {
		margin-top: 80px;
	}
	.question__title {
		font-size: 22px;
		// br {
		// 	display: none;
		// }
	}
	.question__text {
		max-width: 380px;
	}
	.question__img-wrap {
		max-width: 446px;
		&::after {
			top: 67px;
			width: 426px;
			height: 426px;
		}
		&::before {
			top: 150px;
			left: 51px;
		}
	}
}

@media (max-width: 992px) {
	.question {
		margin-top: -31px;
		border-radius: 0;
	}
	.container--question {
		justify-content: center;
	}
	.question__img-wrap {
		max-width: 290px;
	}
	.question__text {
		max-width: 100%;
	}
	.question__img-wrap::after {
    left: 70px;
    top: 7px;
    width: 100%;
    height: 100%;
	}
	question__img-wrap::before {
    top: 0;
    left: 0;
	}
}

@media (max-width: 767px) {
	.container--question {
		flex-wrap: wrap;
	}
	.question__img-wrap {
		order: 2;
		margin-top: 0;
	}
	.question__text {
		padding-bottom: 20px;
	}
	.question__title {
		margin-bottom: 7px;
		br {
			display: none;
		}
	}
	.question__desc {
		font-size: 14px;
		margin-bottom: 20px;
		br {
			display: none;
		}
	}
}

@media (max-width: 575px) {
	.question__img-wrap {
		overflow: hidden;
	}
}
