.why {
	margin-top: -254px;
	padding-bottom: 40px;
}
.container--why {
	margin-top: -5px;
	padding-top: 5px;
	background-color: #fff;
}
.why__image-top {
	width: 100%;
	height: 254px;
	background-size: 100%;
	background-repeat: no-repeat;
	background-image: url(../img/why/why-top.png);
	background-position: bottom;
	pointer-events: none;
}
.why__title {
	margin-bottom: 80px;
	font-weight: 700;
	font-size: 38px;
	line-height: 140%;
	text-align: center;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	color: #333333;
}
.why-cards {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 30px 38px;
	margin-bottom: 45px;
}
.why-cards-card__img-wrap {
	max-width: 180px;
	width: 100%;
	height: 140px;
	margin-bottom: 27px;
}
.why-cards-card__img {
	width: 100%;
	height: 100%;
	object-fit: contain;
	object-position: bottom;
}

.why-cards-card__title {
	margin-bottom: 10px;
	font-weight: 700;
	font-size: 18px;
	line-height: 145%;
	color: #333333;
}
.why-cards-card__desc {
	margin-bottom: 16px;
	font-size: 16px;
	line-height: 145%;
	color: #333333;
}

// SHAME CSS
.why-cards-card {
	&:nth-child(2) {
		.why-cards-card__img {
			margin-left: -30px;
		}
	}
	&:nth-child(3) {
		.why-cards-card__img {
			margin-top: 20px;
			margin-left: -30px;
		}
	}
	&:nth-child(4) {
		.why-cards-card__img {
			margin-top: 30px;
		}
	}
	&:nth-child(5) {
		.why-cards-card__img {
			margin-top: 30px;
		}
	}
	&:nth-child(6) {
		.why-cards-card__img {
			margin-top: 30px;
		}
	}
}

@media (max-width: 1199px) {
	.why__title {
		margin-bottom: 20px;
	}
}

@media (max-width: 992px) {
	.why-cards {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media (max-width: 767px) {
	.why__title {
		font-size: 22px;
		margin-bottom: 8px;
	}
}

@media (max-width: 575px) {
	.why {
		padding-bottom: 30px;
	}
	.container--why {
		padding-top: 30px;
	}
	.why-cards {
		display: block;
	}
}
